* {
	margin:0;
	padding:0;
	border-collapse:collapse;
	font-size: 1em;
	outline: 0;
}

html {
	overflow-y: scroll;
}

body, html {
	background-color: #fbfbfb;
}

hr {
	margin-bottom:17px;
	border:0;
	border-top: 1px dotted #6b6b6b;
	height:1px;
}

body {
	line-height:16px;
	font-family: verdana;
	font-size:13px;
	color:#333333;
	padding-top:66px;
}
body.notopmenu {
	padding-top: 0;
}

body > table {

}

body > table  td{
	vertical-align:top;
}

a {
	color:#112255;
}

b, .bold {
	font-weight:bold !important;
}

i, .italic {
	font-style:italic !important;
}

u, .underline {
	text-decoration:underline !important;
}

blockquote, .blockquote {
	display:block;
	padding-left:5px;
	border-left:1px solid #aaaaaa;
	margin-left:5px;
}

h4 {
	padding: 3px 0px 6px 0px;
}


ul {
	padding: 1px 0px 2px 0px;
	list-style: none;
}

li {
	padding:2px 2px 4px 8px;
}

small {
	font-size: 0.82em;
	line-height: 0.9em;
	font-weight: normal;
}

#maintable {

}

#leftmenu {
	background-color:#BFBFBF;
	padding-right: 24px;
	padding-left:8px;
	border-right: 1px dotted #6b6b6b;
	width: 120px;
}

#leftmenu ul {
	border-left: 1px solid #6b6b6b;
	background-color: #BFBFBF !important;
}

#leftmenu li[selected] {
	/* background-color: #30bfff; */
	background-image: url(../img/selection_arrow.gif) !important;
	background-position: right center;

}

#leftmenu li[selected] a {
	color: #ffffff;
}

#main {
	/*
	background-image: url(../img/admin-bg-gradient.png);
	background-repeat: repeat-y;
	*/
}

#right, #right2, #right3 {
	padding-left: 11px;
}

h1,h2,h3,h4 {
	margin-top:8px;
	font-style: italic;
	background-color: #fed;
}
h1,h2,h3,h4,p {
	padding:5px 10px 5px 7px;
}

/* form */

table.form {
	min-width: 400px;
}

form {
	margin-top: 8px;
}

form table {
	width: 100%;
}

form .label {
	width: 110px;
	padding: 0px 8px 3px 4px;
	text-align:right;
	vertical-align:top !important;
}

form label {
	line-height:15px;
	color: #6b6b6b;
	font-size: 12px;
	font-weight: bold;
}

form .input, .richtext, .textarea{
	background-color: #eee;
	border-bottom:1px solid #E6E6E6;
	max-width: 560px;
}


form tr:nth-last-child(2) .input, form tr:nth-last-child(2) .richtext, form tr:nth-last-child(2) .textarea {
    border-bottom: 0 none transparent;
}

form .image-preview {
	max-width: 250px;
	margin:6px;
	/* border: 1px dotted #6b6b6b; */
	display: block;
}

td.input {
	height: 24px;
	padding:6px;
	border-left: 5px solid #E6E6E6;
}

td.input .wrapper {
	width: 100%;
	height: 100%;
	position: relative;
}


td.input button.inline,
td.input .buttons.inline button,
td.input .fancy-btn.inline,
td.input .buttons.inline .fancy-btn
{
	position: absolute;
	top:1px;
	right: 1px;
	float:right;
}

form .buttons {
	text-align:right;	
}

input, textarea, .richtext, .textarea {
	/* hide ugly chrome outline effect */
	outline:0;
	color:#333333;
}

input[type=submit] {
	padding:3px 12px 3px 12px;
	margin:3px 0px 3px 0px;
}

input[type=file] {
	width:100%;
	background-color: transparent;
	border:0 solid transparent;
}

select {
	width:100%;
	/* height:100%; */
}

.richtext, .textarea {
	display: block;
	overflow: auto;
}

input[type=text], input[type=password], textarea, .richtext, .textarea {
	border: 0px none transparent;
	width:100%;
	height:100%;
	font-family: verdana;
	background-color: transparent;
}

input[type=text], input[type=password] {
	height:18px;	

}

textarea, .richtext, .textarea {
	resize: none;
	height: 200px;
}

textarea.short, .richtext.short {
	height: 80px;
}

textarea.tall, .richtext.tall {
	height: 400px;
}

}
/* list table */

table.rows {
	width: 100%;
	margin-bottom: 12px;
}

table.rows td {
	padding: 2px 8px 2px 8px;
	vertical-align:middle;
}

table.rows a[selected],
table.rows tr[selected] td.title
{
    background-color: #336ECE !important;
    background-image: url("../img/bg_grad.gif");
    color:white;
}


table.rows tr td.title .tooltip {
	text-decoration: none;
}

table.rows tr td.title .tooltip:hover,
table.rows tr[selected] td.title .tooltip
{
	background-color:#336ECE;
	color:white;
}


table.rows tr td.title .tooltip,
table.rows tr[selected] td.title .tooltip:hover
{
	padding: 0 3px 0 3px;
	line-height: 0.8em;
	font-size: 0.85em;
	border: 1px solid #336ECE;
	color:#336ECE;
	border-radius: 3px;
	background-color: white;
}

table.rows tr[selected] td.title .tooltip,
table.rows tr[selected] td.title .tooltip:hover
{
	border-color: white;
}




table.rows a[selected],
table.rows tr[selected] td.title a {
	color: #ffffff;
}

table.rows tr[selected] td.actions {
	background-image: url(../img/selection_arrow.gif) !important;
    background-position: right top;
    background-repeat: no-repeat;
}

table.rows td.title,
table.rows td.actions
{
	white-space: nowrap;
}

table.rows td.section-title {
	background: black;
	color: white;
	padding: 6px;
}

table.rows tbody tr:nth-child(odd) {
	background-color: #eee;
}

/* photo gallery */

.gallery {
	width: 100%;
	vertical-align:top;
	margin:6px 1px 0 12px;
}

.gallery .gallery-box {
	display: inline-block;
	outline: 1px dotted #6b6b6b;
	padding:3px;
	text-align: center;
	margin-bottom: 8px;
	margin-right:4px;
	background-color: white;
	vertical-align: bottom;
}


.gallery .gallery-box  img {

}

.fancy-btn {
	cursor: pointer;
 	vertical-align: bottom;
}

.close-icon {
 	display: block;
 	width: 12px;
 	height: 13px;
 	position: relative;
 	top:1px;
 	margin-top: 1px;
 	background: url('../img/chosen-sprite.png') right top no-repeat;
}

.close-icon:hover {
  background-position: right -11px;
}

.fancy-btn, form button {
	/*
  -webkit-border-radius: 3px;
  -moz-border-radius   : 3px;
  border-radius        : 3px;
  */
  display:inline-block;
  font-family:inherit;
  *display:inline;
  *zoom:1;
  -moz-background-clip   : padding;
  -webkit-background-clip: padding-box;
  background-clip        : padding-box;
  background-color: #e4e4e4;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#eeeeee', GradientType=0 ); 
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -ms-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%); 
  -webkit-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
  -moz-box-shadow   : 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
  box-shadow        : 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
  color: #333;
  border: 1px solid #bbb;
  line-height:14px;
  font-size: 11px;
  padding: 0px 5px 1px 5px;
  margin:2px;
  text-decoration:none;
}

.gallery-box .item-actions {
	padding:3px 2px 3px 2px;
}

#header {
	text-align: left;
	background-color: black;
	background-repeat:repeat;
	height:66px;
	margin-bottom:7px;
	position:fixed;
	top:0;
	left:0;
	right:0;
	border-bottom:1px solid #aaa;
	z-index: 10;
}

#header #buttons {
	position:absolute;
	bottom:10px;
	right:10px;
	overflow:hidden;
}

#header #buttons .button {
    background-color: #dddddd;
    border-radius: 2px 2px 2px 2px;
    color: #000000;
    float: right;
    font-family: 'Homenaje',sans-serif;
    font-size: 12px;
    line-height: 15px;
    margin: 0 0 0 6px;
    padding: 3px 5px 2px;
    text-decoration: none;
    text-transform: uppercase;
}

#header #buttons .button:hover,
#header #buttons .button.selected {
    background-color: #336ECE;
    background-image: url("../img/bg_grad_smaller.gif");
    color: white;
}

#logo {
	position: absolute;
	bottom: 0px;
	left: 0px;
}

#header > #logo {
	position: absolute;
	margin:auto;
	height: 80%;
	bottom: 0px;
	left: 0px;
	top:0px;	
}

.message {
	border-right:1px solid #E6E6E6;
	border-bottom:1px solid #E6E6E6;
	padding:4px 6px 6px 7px;
	margin:7px 0 10px 0;
	background-color: #e1ffe0;
	line-height: 17px;
}