/* anytime.compressed.css 4.2013.03.15.a
Copyright 2008-2013 Andrew M. Andrews III
License: http://creativecommons.org/licenses/by-nc-sa/3.0/
Any+Time is a trademark of Andrew M. Andrews III. */
.AnyTime-pkr *{border:0;font:inherit;font-size:x-small;font-style:normal;font-weight:normal;list-style-type:none;margin:0;padding:0;white-space:nowrap}
div.AnyTime-win{z-index:10;background-color:#f0f0f1;border:3px solid #E6E6E6;font:normal normal normal xx-small/normal sans-serif;padding-bottom:.2em;-moz-border-radius:6px;-webkit-border-radius:6px}
.AnyTime-pkr .AnyTime-cloak{background-color:#d7d7d7;opacity:.7;filter:alpha(opacity=70)}
.AnyTime-pkr .AnyTime-hdr{background-color:#E6E6E6;color:#6B6B6B;font-size:1.5em;font-weight:normal;height:1em;margin:0;padding:0 0 .4em 0;text-align:center;-moz-border-radius:2px;-webkit-border-radius:2px}
.AnyTime-pkr .AnyTime-x-btn{background-color:#fcfcff;border:1px solid #F99;color:#ff9f9f;cursor:default;float:right;margin:.05em;text-align:center;width:1.5em;-moz-border-radius:.4em;-webkit-border-radius:.4em}
.AnyTime-pkr .AnyTime-btn{background-color:#fcfcfe;border:1px solid #999;color:#000000;cursor:default;float:left;font-family:Arial,Helvetica,sans-serif;height:1.5em;margin-bottom:1px;margin-right:1px;padding-top:.1em;-moz-border-radius:.4em;-webkit-border-radius:.4em}
.AnyTime-pkr .AnyTime-body{padding:.5em}
.AnyTime-pkr .AnyTime-date{float:left;padding:0 .5em}
.AnyTime-pkr .AnyTime-lbl{clear:left;color:#6B6B6B;font-family:Arial,Helvetica,sans-serif;font-size:100%;font-weight:normal;font-style:normal;height:1.3em;margin:0;padding:0;text-align:center}
.AnyTime-pkr .AnyTime-yrs{height:2.6em;text-align:center;width:18.6em}
.AnyTime-pkr .AnyTime-yrs-past-btn{width:2.7em}
.AnyTime-pkr .AnyTime-yr-prior-btn,.AnyTime-pkr .AnyTime-yr-cur-btn,.AnyTime-pkr .AnyTime-yr-next-btn{width:3.75em}
.AnyTime-pkr .AnyTime-yrs-ahead-btn{width:2.7em}
.AnyTime-pkr .AnyTime-mons{height:4.8em;text-align:center;width:18.8em}
.AnyTime-pkr .AnyTime-mon-btn{width:2.75em}
.AnyTime-pkr .AnyTime-mon7-btn{clear:left}
.AnyTime-pkr .AnyTime-dom-table{background-color:#f0f0f1;border:1px solid #e3e3e4;border-spacing:1px;width:18.6em}
.AnyTime-pkr th.AnyTime-dow{background-color:#6B6B6B;color:#FFFFFF;font-family:Arial,Helvetica,sans-serif;font-size:95%;font-weight:normal;font-style:normal}
.AnyTime-pkr .AnyTime-dom-btn{float:none;height:1.7em;text-align:right;padding:0 .5em 0 0}
.AnyTime-pkr .AnyTime-dom-btn-empty{background-color:#f3f3f4;border:1px solid #c0c0c1}
.AnyTime-pkr .AnyTime-time{float:left;padding:0 0 0 1em;text-align:center}
.AnyTime-pkr .AnyTime-hrs{float:left;padding-left:.5em;padding-right:.5em;text-align:center;width:7.2em}
.AnyTime-pkr .AnyTime-hrs-am,.AnyTime-pkr .AnyTime-hrs-pm{float:left;width:3.6em}
.AnyTime-pkr .AnyTime-hr-btn{text-align:right;padding-right:.25em;width:3em}
.AnyTime-pkr .AnyTime-mins{float:left;padding-left:.5em;padding-right:.5em;text-align:center;width:4.7em}
.AnyTime-pkr .AnyTime-mins-tens,.AnyTime-pkr .AnyTime-mins-ones{float:left;width:2.3em}
.AnyTime-pkr .AnyTime-min-ten-btn,.AnyTime-pkr .AnyTime-min-one-btn{float:left;text-align:center;width:2em}
.AnyTime-pkr .AnyTime-min-ten-btn-empty,.AnyTime-pkr .AnyTime-min-one-btn-empty{background-color:#f3f3f4;border:1px solid #c0c0c1}
.AnyTime-pkr .AnyTime-secs{float:left;padding-left:.5em;padding-right:.5em;text-align:center;width:4.7em}
.AnyTime-pkr .AnyTime-secs-tens,.AnyTime-pkr .AnyTime-secs-ones{float:left;width:2.3em}
.AnyTime-pkr .AnyTime-sec-ten-btn,.AnyTime-pkr .AnyTime-sec-one-btn{float:left;text-align:center;width:2em}
.AnyTime-pkr .AnyTime-sec-ten-btn-empty,.AnyTime-pkr .AnyTime-sec-one-btn-empty{background-color:#f3f3f4;border:1px solid #c0c0c1}
.AnyTime-pkr .AnyTime-offs{clear:left;float:left;padding-left:.5em;padding-top:.5em;text-align:center}
.AnyTime-pkr .AnyTime-off-select-btn{width:1.5em}
.AnyTime-pkr .AnyTime-body-yr-selector{padding:1em}
.AnyTime-pkr .AnyTime-yr-mil,.AnyTime-pkr .AnyTime-yr-cent,.AnyTime-pkr .AnyTime-yr-dec,.AnyTime-pkr .AnyTime-yr-yr{float:left;width:2.5em}
.AnyTime-pkr .AnyTime-mil-btn,.AnyTime-pkr .AnyTime-cent-btn,.AnyTime-pkr .AnyTime-dec-btn,.AnyTime-pkr .AnyTime-yr-btn{float:left;text-align:center;width:2em}
.AnyTime-pkr .AnyTime-yr-era{float:left;padding-left:1em;width:4.1em}
.AnyTime-pkr .AnyTime-era-btn{text-align:center;width:3em}
.AnyTime-pkr .AnyTime-body-off-selector{margin:.5em}
.AnyTime-pkr .AnyTime-off-off-btn{clear:left;padding-left:1em;padding-right:1em;text-align:left}
.AnyTime-pkr .AnyTime-cur-btn{border:1px solid #333334;background-color:#336ECE;color:#fcfcfe;font-weight:bold}
.AnyTime-pkr .AnyTime-out-btn{background-color:#f0f0f1;border:1px solid #c0c0c1}
.AnyTime-pkr .AnyTime-focus-btn{border:1px dashed black}
